<div class="list-container">
  <div class="list-container__element" *ngFor="let p of ($products | async)">
    <div class="card-wrapper">
      <mat-card>
        <div class="product-wrapper" fxLayout="row" fxLayoutAlign="start center">
          <div class="product-wrapper__image">
            <img [src]="p.image">
          </div>
          <div class="product-wrapper__content-wrapper">
            <div class="product-wrapper__title">
              <h1>
                {{ p.title }}
              </h1>
            </div>
            <div class="product-wrapper__product-type">
              <p>
                Product type: <strong>{{ p.productType }}</strong>
              </p>
            </div>
            <div class="product-wrapper__product-quantity">
              <p>
                Quantity Sold: {{ p.quantitySold }}
              </p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
